
/* team.css */

.team-page {
  min-height: 100vh;
  background-color: #171717;
  background-image:
    radial-gradient(circle at top left, rgba(255, 0, 0, 0.23) 0%, transparent 17%),
    radial-gradient(circle at 95% 30%, rgba(255, 0, 0, 0.23) 0%, transparent 17%),
    radial-gradient(circle at 0% 60%, rgba(255, 0, 0, 0.23) 0%, transparent 17%),
    radial-gradient(circle at 90% 96%, rgba(255, 0, 0, 0.23) 0%, transparent 17%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}

