
html {
  scroll-padding-top: 80px;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,600&display=swap');

/* Remove default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.bg {
  background-color: black;
}

html, body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}